* {
    font-family: Helvetica;
  }
  
  header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(images/pattern.jpeg);
  }
  
h1 {
  font-size: 32px;
  color: white;
  font-weight: bold;
}
  
  p {
    font-size: 18px;
    font-weight: bold;
  }

  h4 {
    font-weight: normal;
  }

  span {
    color:blue;
    font-weight: bold;
  }
  
  #brushes {
    background-color: mediumspringgreen;
    }

  #frames {
    background-color: lightcoral;
  }

  #paint {
    background-color: skyblue;
    }
  